nav{
    display: flex;
    justify-content:space-between;
    padding: 0px 10px 0px 10px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
}

ul{
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: right;
}

ul li{
    margin: 0px 5px 0px 5px;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 2px;
}

ul li a:hover{
    text-decoration: none;
    border-bottom: 1px solid rgb(48, 47, 47);
    border-right: 1px solid rgb(48, 47, 47);
    border-radius: 5px;
    padding: 2px;
    box-shadow: 2px 2px 5px;
}

.active{
    background-color: rgb(246, 246, 158);
    padding: 0px 2px 0px 2px;
    font-weight: bold;
    border-radius: 5px;
}