<div class="container">
  <div class="form-container">
    <div class="form">
      <div class="form-header">User Details</div>
      <form [formGroup]="userForm" (ngSubmit)="SaveUser()">
        <div class="form-group">
          <input type="text" placeholder="First Name" class="form-control" name="firstName" formControlName="firstName">
          <input type="text" placeholder="Last Name" class="form-control" name="lastName" formControlName="lastName">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" name="email" formControlName="email">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Contact" class="form-control" name="contact" formControlName="contact">          
          <fieldset class="form-control-radio-group">
            <legend>: Gender :</legend>
            <input type="radio" name="gender" id="male" value="M" formControlName="gender"> 
            <label for="male">Male</label>
            <input type="radio" name="gender" id="female" value="F" formControlName="gender"> 
            <label for="female">Female</label>
          </fieldset>
        </div>     
        <div class="form-group">
          <fieldset class="form-control-radio-group">
            <legend>: Skills :</legend>
            @for (skill of skills; track skill.id) {
              <input type="checkbox" [id]="skill.id" [value]="skill.name" (change)="handelUserSkills($event)">
              <label [for]="skill.id">{{skill.name}}</label>
            }
          </fieldset>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Profile Summary" class="form-control" name="profileSummary" formControlName="profileSummary">
        </div>
        <div class="btn-panel">
          <button class="btn">Save</button>
        </div>
      </form>
    </div>
  </div>
  <div class="display">
    @for (user of userList; track user.id) {
      <div class="display-content">        
          <div>
            <fieldset>
              <legend>: Name :</legend>
              <label>
                {{user.firstName}} {{user.lastName}}
              </label>
            </fieldset>
            <fieldset>
              <legend>: Email :</legend>
              <label>
                {{user.email}}
              </label>
            </fieldset>
            <fieldset>
              <legend>: Contact :</legend>
              <label>
                {{user.contact}}
              </label>
            </fieldset>
            <fieldset>
              <legend>: Gender :</legend>
              <label>
                @if(user.gender.toString().toLowerCase() == 'm'){
                  Male
                }
                @else if(user.gender.toString().toLowerCase() == 'f') {
                  Female
                }
                @else {
                  Other
                }
              </label>
            </fieldset>
            <fieldset>
              <legend>: Skills :</legend>
              <label>
                {{user.skills}}
              </label>
            </fieldset>
            <fieldset>
              <legend>: Profile Summary :</legend>
              <label>
                {{user.profileSummary}}
              </label>
            </fieldset>
          </div>
          <div class="btn-panel">
            <button class="btn" (click)="deleteUser(user.id)">Delate</button>
            <button class="btn" (click)="selectUser(user.id)">Update</button>
          </div>
      </div>
    }
</div>